server {
    listen 443 ssl;
    server_name {{ hostvars[groups['mw'][0]]['public_dns'] }};

    ssl on;
    ssl_certificate /etc/letsencrypt/live/{{ s3_domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ s3_domain_name }}/privkey.pem;
    ssl_session_cache shared:SSL:10m;

    location / {
        proxy_pass https://{{ hostvars[groups['mw'][0]]['public_dns'] }}:8787;
        proxy_set_header Host $host;
    }
}