- name: copy openstack repo rpm
  copy:
    src: rdo-release-pike-1.noarch.rpm
    dest: /root/rdo-release-pike-1.noarch.rpm

- name: install openstack repo from  rpm
  yum:
    name: /root/rdo-release-pike-1.noarch.rpm
    state: present

- name: install openstack packages
  yum:
    name:
      - openstack-keystone
      - httpd
      - mod_wsgi
      - python-openstackclient
    state: present

- name: create user for keystone
  mysql_user:
    name: keystone
    password: {{ mariadb_keystone_password }}
    priv: '*.*:ALL'
    state: present

- name: create keystone database
  mysql_db:
    name: keystone
    state: present

- name: add keystone.conf from template
  template:
    src: keystone.j2
    dest: /etc/keystone/keystone.conf
    owner: root
    group: keystone
    mode: 0640

- name: add keystone_init.sh from template
  template:
    src: keystone_init.j2
    dest: /root/keystone_init.sh
    owner: root
    group: keystone
    mode: 0640

- name: make keystone_init.sh executable
  file: dest=/root/keystone_init.sh mode=a+x

- name: init keystone
  shell: /root/keystone_init.sh

- name: copy httpd.conf
  copy:
    src: httpd.conf
    dest: /etc/httpd/conf.d//httpd.conf
    
- name: add controller name to hosts file
  shell: echo "127.0.0.1   controller" >> /etc/hosts

- name: enable  httpd service
  systemd:
    name: httpd
    enabled: yes
    masked: no

- name: start httpd service
  systemd: state=started name=httpd

- name: add .bashrc from template
  template:
    src: .bashrc.j2
    dest: /root/.bashrc
    owner: root
    group: root
    mode: 0644

- name: create swifty domain
  os_keystone_domain:
     state: present
     name: swifty

- name: create swifty.admin role
  os_keystone_role:
    state: present
    name: swifty.admin

- name: create swifty.owner role
  os_keystone_role:
    state: present
    name: swifty.owner

- name: create swifty.ui role
  os_keystone_role:
    state: present
    name: swifty.ui

- name: create swyadmin project
  os_project:
    state: present
    name: swyadmin
    domain_id: swifty
    enabled: True

- name: create swyui project
  os_project:
    state: present
    name: swyui
    domain_id: swifty
    enabled: True

- name: create swyadmin user
  - os_user:
    state: present
    name: swyadmin
    password: {{ keystone_swyadmin_password }}
    domain: swifty
    default_project: swyadmin

- name: create swyui user
  - os_user:
    state: present
    name: swyui
    password: {{ keystone_swyui_password }}
    domain: swifty
    default_project: swyui

- name: grant swifty.admin role to swyadmin user
  os_user_role:
    user: swyadmin
    role: swifty.admin
    project: swyadmin

- name: grant swifty.owner role to swyadmin user
  os_user_role:
    user: swyadmin
    role: swifty.owner
    project: swyadmin

- name: grant swifty.ui role to swyui user
  os_user_role:
    user: swyui
    role: swifty.ui
    project: swyui

- name: add admin user to admin project
  os_user:
    state: present
    name: admin
    password: {{ keystone_admin_password }}
    update_password: on_create
    domain: swifty
    default_project: admin
