.idea
.vscode
.history

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
**/__pycache__

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sqlite

# Ansible specific

swifty-*/*.retry
swifty-*/fetch
swifty-*/*.pem

# Terraform

**/*.tfstate
**/*.tfstate*
**/*.pyc
**/*.tf
**/.terraform
**/output.json

# Editor files
.vscode
.history