Name = {{ tinc_hostname }}
AddressFamily = ipv4
Interface = {{ vpn_interface }}
{% for host in groups['tinc_vpn'] %}
{% if tinc_hostname != hostvars[host]['tinc_hostname'] %}
ConnectTo = {{ hostvars[host]['tinc_hostname'] }}
{% endif %}
{% endfor %}