---
db: "swifty-s3:MGOS3PASS@127.0.0.1:27017"
daemon:
        address: "{{ hostvars[groups['mw'][0]]['public_dns'] }}:8787"
        admport: "8789"
        webport: "80"
        token: "S3TOKEN"
        loglevel: "debug"
        prometheus: "swy0:9013"
        https:
                cert: "/etc/letsencrypt/live/{{ s3_domain_name | default(default_s3_domain_name) }}/fullchain.pem"
                key: "/etc/letsencrypt/live/{{ s3_domain_name | default(default_s3_domain_name) }}/privkey.pem"
notify:
        rabbitmq: "s3:RMQS3PASS@{{ hostvars[groups['gw'][0]]['private_ip'] }}:5672/s3"
secretskey: "S3SECRETSKEY"
mime-types: "/etc/swifty/conf/mime.types"
