- name: install nfs packages
  package:
    name:
      - nfs-utils
    state: latest
  when: (ansible_distribution == "Fedora")

- name: install nfs packages
  package:
    name:
      - nfs-kernel-server
    state: latest
  when: (ansible_distribution == "Ubuntu")

- name: enable nfs service
  systemd:
    name: nfs
    enabled: yes
    masked: no
    state: started
  when: (ansible_distribution == "Fedora")

- name: enable  nfs service
  systemd:
    name: nfs-kernel-server
    enabled: yes
    masked: no
    state: started
  when: (ansible_distribution == "Ubuntu")

- name: Configure allow master tcp wrapper
  lineinfile:
    path: /etc/hosts.allow
    line: "rpcbind mountd nfsd statd lockd rquotad : {{ hostvars[groups['gw'][0]]['private_ip'] }}"
    
- name: Add workers to hosts.allow
  shell: sed -i '${s/$/ {{ hostvars[item]['private_ip'] }}/}' /etc/hosts.allow
  with_items: "{{ groups['worker'] }}"

- name: Configure deny master tcp wrapper
  lineinfile:
    path: /etc/hosts.deny
    line: 'rpcbind mountd nfsd statd lockd rquotad : ALL'

- name: Creates swifty-volume dir
  file:
    path: /home/swifty-volume
    state: directory

- name: Configure export dir
  shell: echo "/home/swifty-volume {{ hostvars[item]['private_ip'] }}(rw,sync,no_root_squash,no_subtree_check)" >> /etc/exports
  with_items: "{{ groups['worker'] }}"

- name: Export dir
  shell: exportfs -a

# This is part for workers

- name: install nfs packages
  package:
    name: nfs-utils
    state: latest
  delegate_to: "{{item}}"
  with_items: "{{ groups['worker'] }}"
  when: (ansible_distribution == "Fedora")

- name: install nfs packages
  package:
    name:
      - nfs-common
    state: latest
  delegate_to: "{{item}}"
  with_items: "{{ groups['worker'] }}"
  when: (ansible_distribution == "Ubuntu")

- name: Creates swifty-volume dir
  file:
    path: /home/swifty-volume
    state: directory
  delegate_to: "{{item}}"
  with_items: "{{ groups['worker'] }}"

- name: Configure mount point
  shell: echo "{{ hostvars[groups['gw'][0]]['private_ip'] }}:/home/swifty-volume /home/swifty-volume nfs rw,sync,hard,intr,addr={{ private_ip }} 0 0" >>  /etc/fstab
  delegate_to: "{{item}}"
  with_items: "{{ groups['worker'] }}"

- name: Mount swifty-volume
  shell: mount /home/swifty-volume
  delegate_to: "{{item}}"
  with_items: "{{ groups['worker'] }}"
