---
daemon:
        address: "{{ hostvars[groups['swy-core'][0]]['core_public_dns'] }}:8687"
gate: "{{ hostvars[groups['swy-core'][0]]['core_public_dns'] }}:8686"
keystone: "admin:KSPASS@127.0.0.1:5000/swifty"
db: "swyadmd:DBAPASS@127.0.0.1:27017"
