---
"DBPASS": "{{ mongodb_swygate_password }}"
"MWSECPASS": "{{ mw_secpass }}"
"MARIAPASS": ""
"RABBITPASS": "{{ rabbitmq_root_password }}"
"MONGOPASS": "{{ mongodb_admin_password }}"
"PGRTOKEN": "{{ pgr_token }}"
"S3TOKEN": "{{ s3_token }}"
"S3IFYPASS": "{{ rabbitmq_s3_password }}"
