---
db: "swifty-s3:MGOS3PASS@127.0.0.1:27017"
daemon:
        address: "{{ hostvars[groups['swy-core'][0]]['core_public_dns'] }}:8787"
        admport: "8789"
        token: "S3TOKEN"
        loglevel: "debug"
        prometheus: "swy0:9013"
notify:
        rabbitmq: "s3:RMQS3PASS@127.0.0.1:5672/s3"
secretskey: "S3SECRETSKEY"
