---
daemon:
        address: "{{ hostvars[groups['swy-gw'][0]]['gw_public_dns'] }}:8685"
gate: "{{ hostvars[groups['swy-gw'][0]]['gw_public_dns'] }}:8684"
keystone: "admin:KSPASS@127.0.0.1:5000/swifty"
db: "swyadmd:DBAPASS@127.0.0.1:27017"
