---
home: "/home/swifty"
db: "swygate:DBPASS@127.0.0.1:27017"
keystone:
        address: "127.0.0.1:5000"
        domain: "swifty"
daemon:
        address: "localhost:8684"
        apigate: "https://{{ hostvars[groups['gw'][0]]['public_dns'] }}"
        callgate: "https://{{ hostvars[groups['gw'][0]]['public_dns'] }}"
        loglevel: "debug"
        prometheus: "127.0.0.1:9012"
middleware:
        mwseckey: "MWSECPASS"
        maria:
                creds: "root:MARIAPASS@{{ hostvars[groups['mw'][0]]['private_ip'] }}:3306"
                quotdb: "swifty.QUOTAS"
        rabbit:
                creds: "root:RABBITPASS@127.0.0.1:5672"
                admport: "15672"
        mongo:
                creds: "admin:MONGOPASS@{{ hostvars[groups['mw'][0]]['private_ip'] }}:27017"
        postgres:
                creds: "-:PGRTOKEN@swft-mw:5432"
                admport: "3872"
        s3:
                creds: "-:S3TOKEN@{{ hostvars[groups['mw'][0]]['public_dns'] }}:8789"
                api: "{{ hostvars[groups['mw'][0]]['public_dns'] }}:8787"
                notify: "swifty:S3IFYPASS@127.0.0.1:5672/s3"
wdog:
        img-prefix: "registry.gitlab.com/swiftyteam/swifty"
        volume: "/home/swifty-volume"
        port: 8687
        k8s-namespace: "default"
repo-sync-delay: 1
demo-repo:
        url: "https://github.com/swiftycloud/swifty.demo"
