clouds:
  swifty:
    auth:
      auth_url: http://controller:5000/v3
      project_name: admin
      username: admin
      password: {{ keystone_admin_password }}
      user_domain_name: Default
      project_domain_name: Default
    region_name: RegionOne
    identity_api_version: 3
